.chart {
  display: flex;
  align-items: end;
  height: 46px;
}

.chart > div:not(:first-child) {
  margin-left: 16px;
}

.footer {
  margin-top: 8px;
  padding-top: 9px;
  border-top: 1px solid rgba(5, 5, 5, 0.06);
}

.footer > span:not(:first-child) {
  margin-left: 8px;
}

.more {
  color: var(--font-color);
}
